@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
 margin: 0;
 padding: 0;  
 font-family: 'Poppins', sans-serif;
 font-weight: 500;
}

p {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
}

body {
    background: url('../../img/background.jpg');
    background-size: contain;
    background-repeat: repeat;
}

@media screen and (max-width:1000px) {
  body {
    background: url('../../img/background.jpg');
    background-size: contain;
    background-repeat: repeat;
}
}

.section {
    max-width: 1200px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;

    .fp-tableCell {
        display: flex;
        min-height: 100vh;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
    }
}

#section1, #section2, #section3, #section4, #section5, #section6 {
  .fp-tableCell {
      padding: 50px 0px 250px 0px ;
      justify-content: flex-start;
  }

  h2 {
    width: 100%;
    max-width: 1000px;
    font-weight: 400;
    margin-bottom: 20px;
    font-size: 18px;
    padding: 0px 20px;
  }
}

#section2 { 
  .fp-tableCell {
    padding: 50px 0px !important;
    justify-content: center;
}
}


@media screen and (max-width:1000px) {
  .fp-tableCell {
    padding: 50px 0px !important;
    height: auto;
    border-bottom: 3px solid white;
    border-radius: 30px;
}
}

/// SECTION 1 ///

    // HEADING //

.heading {
    color: white;
    text-align: center;
    margin-bottom: 50px;

    &.alt {
      margin-bottom: 50px;
    }
    h1 {
        font-size: 30px;
        line-height: 1.5;
        padding: 20px;
        max-width: 1000px;
        margin: 0 auto;
        padding-bottom: 30px;
    }
    h2 {
      width: 100%;
      margin: 0 auto;
      max-width: 1000px;
      font-size: 18px;
      line-height: 1.6;
      padding: 20px;
    }
    .logo {
      width: 100%;
      padding: 20px;
      max-width: 550px;
      margin: 0 auto;
      margin-bottom: 10px;
      filter: drop-shadow(5px 5px 30px rgba(0,0,0,0.3));
    }

    .calltoaction {
      padding: 12px 20px;
      background-color:#0F3742;
      margin-top: 20px;
      color: white;
      text-decoration: none;
      border-radius: 3px;
    }
}


@media screen and (max-width:1000px) {
  h1 {
    font-size: 24px !important;
    margin: 40px 0px !important;
}
  .calltoaction {

    font-size: 12px;

  }
}

@media screen and (max-width:1000px) {
  #section2,#section3,#section4,#section5,#section6 {
    .heading {
      &.alt {
        margin-top: 0px !important;
      }
    }

    h1 {
      font-size: 40px !important;
      margin: 0px 0px 0px 0px !important;
  }
  h2 {
    margin: 40px 0px 0px 0px !important;
}
  }

}

// CARDS //

.cards_ {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    margin: 0 auto;
    
    width: 100%;
    flex-wrap: nowrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    align-items:stretch;
    transition: all .25s ease-in-out;}
  
  .cards_ .cards___card {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-item-align: start;
    align-self: flex-start;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    max-width: 100%;
    width: 370px;

    border-radius: 5px;
    position: relative; }
  
  .cards_ .cards___card .card__image {
    display: flex;
    width: 190px;
    height: 190px;
    position: relative;
    background-color: #0d3742;
    margin-bottom: 20px;
    box-shadow: 0px 1px 17px rgba(0, 0, 0, 0.16);
    border-radius: 50%;
    justify-content: center;
  align-items: center;
&::before {
  content: " ";
  position: absolute;
  z-index: -1;
  top: -15px;
  left: -15px;
  right: -15px;
  bottom: -15px;
  border: 5px solid white;
  border-radius: 50%;
  animation-name: circle1;

  animation-delay: 0.5s;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

&::after {
  content: " ";
  position: absolute;
  z-index: -1;
  top: -25px;
  left: -25px;
  right: -25px;
  bottom: -25px;
  border: 3px solid white;
  border-radius: 50%;
  animation-name: circle1;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}
}

@keyframes circle1 {
  0%   {opacity: 1;}
  50%  {opacity: 0.2;}
  100% {opacity: 1;}
}


  .cards_ .cards___card .card__image img {
    width: 150px;
  height: auto; }
  
  .cards_ .cards___card .card__text {
    padding: 30px 20px;
    position: relative;
    text-align: center;
    width: 100%; }
  
  .cards_ .cards___card .card__text h3 {
    font-size: 25px !important;
    font-family: Poppins !important;
    line-height: 25px !important;
    color: white !important;
    margin-bottom: 15px !important;}
  
  .cards_ .cards___card .card__text hr {
    width: 50px !important;
    height: 2px !important;
    margin: 0 auto;
    margin-bottom: 20px;
    background-color: white !important;
    border-radius: 5px !important;
  border: none; }
  
  .cards_ .cards___card .card__text h4 {
    font-size: 21px !important;
    font-family: 'Nunito sans' !important;
    font-weight: 400;
    line-height: 28px !important;
    color: #08242b !important; }
  
  .cards_ .cards___card .card__text p {
    font-size: 16px;
    font-family: Nunito Sans !important;
    line-height: 25px;
    min-height: 0px;
    color: black !important; }
  
  .cards_ .cards___card:hover .card__image img {
    opacity: 0.7; }

@media screen and (max-width:1000px) {
  .heading {
    margin-top: 50px;
    margin-bottom: 50px;

    h1 {
      padding: 0 !important;
    }
    h2 {
      padding: 0 !important;
    }
  }
  .heading, .cards_ {
    padding: 0px 40px;
    box-sizing: border-box;
    .logo {
      padding: 0;
    }
    h2 {
      padding: 0;
    }
  }
 .cards_ {
  flex-direction: column;
  
.card__text {
  padding: 0px !important;
}

.cards___card {
  margin-bottom: 50px;
  display: flex;

  &:last-of-type {
    margin-bottom: 0px;
  }
}
  .cards___card .card__image {
    margin-bottom: 30px !important;
    width: 120px;
    height: 120px;

  img {
      width: 90px;
    }
  }
 }
}


// CARDS ON IFRAME//

.cards_iframe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  margin-left: -5%;
  margin-top: -5%;
  z-index: 5;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  align-items:flex-start;
  transition: all .25s ease-in-out;}

.cards_iframe .cards___card_iframe {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-item-align: start;
  align-self: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;

  border-radius: 5px;
  position: relative; }

.cards_iframe .cards___card_iframe .card__image {
  display: flex;
  width: 100px;
  height: 100px;
  position: relative;
  background-color: #0d3742;
  margin-bottom: 20px;
  box-shadow: 0px 1px 17px rgba(0, 0, 0, 0.16);
  border-radius: 50%;
  justify-content: center;
align-items: center;
}
.cards_iframe .cards___card_iframe .card__image img {
  width: 70px;
height: auto; }

@media screen and (max-width:1000px) {
  .cards_iframe {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    margin-left: -12%;
    margin-top: -12%;
    z-index: 5;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    align-items:flex-start;
    transition: all .25s ease-in-out;
  }
}



// SECOND SECTION // 

.container {
  width: 100%;
    max-width: 900px;
    position: relative;

  .wrap {
    width: 100%;
    max-width: 900px;
    padding: 0;
    z-index: 2;
    position: relative;
    height: auto;
    overflow: show;
    box-sizing: border-box;
    box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.02),
  0 6.7px 5.3px rgba(0, 0, 0, 0.028),
  0 12.5px 10px rgba(0, 0, 0, 0.035),
  0 22.3px 17.9px rgba(0, 0, 0, 0.042),
  0 41.8px 33.4px rgba(0, 0, 0, 0.05),
  0 100px 80px rgba(0, 0, 0, 0.07)
;

    border-radius: 10px;
    &::before {
      content: " ";
      position: absolute;
      z-index: 0;
      top: -15px;
      left: -15px;
      right: -15px;
      bottom: -15px;
      border: 5px solid #0d3742;
      border-radius: 10px;
      animation-name: circle1;
    
      animation-delay: 0.5s;
      animation-duration: 3s;
      animation-iteration-count: infinite;
    }
    
    &::after {
      content: " ";
      position: absolute;
      z-index: 0;
      top: -25px;
      left: -25px;
      right: -25px;
      bottom: -25px;
      border: 3px solid #0d3742;
      border-radius: 10px;
      animation-name: circle1;
      animation-duration: 3s;
      animation-iteration-count: infinite;
    }
  }
  .scaled-frame {
    width: 200%;
    height: 200%;
    transform: scale(0.5);
    position: absolute;
    border: 0px;
    left: -50%;
    top: -50%;
    z-index: 10;
    border-radius: 10px;

    &.f3 > * {
      zoom: 2;
    }
  }
  
}

#section5 {
  .scaled-frame {
    width: 120%;
    height: 120%;
    transform-origin: top left;
    transform: scale(calc(100/120));
    position: absolute;
    border: 0px;
    left: 0%;
    top: 0%;
    z-index: 10;
    border-radius: 10px;

    &.f3 > * {
      zoom: 2;
    }
  }
}

@media screen and (max-width:1000px) {
  .container {
    width: 80%;
      max-width: 900px;
      position: relative;

      .scaled-frame {
        width: 100%;
        height: 100%;
        transform: scale(1);
        position: absolute;
        border: 0px;
        left: 0%;
        top: 0%;
        z-index: 10;
        border-radius: 10px;
    
        &.f3 > * {
          zoom: 2;
        }
      }
  }
}

// SECTION 6 //

.container .content {
  background-color: white;
  border-radius: 10px;
  box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.02),
  0 6.7px 5.3px rgba(0, 0, 0, 0.028),
  0 12.5px 10px rgba(0, 0, 0, 0.035),
  0 22.3px 17.9px rgba(0, 0, 0, 0.042),
  0 41.8px 33.4px rgba(0, 0, 0, 0.05),
  0 100px 80px rgba(0, 0, 0, 0.07)
;
padding: 30px;
color: #0f3742;
font-weight: 400;
font-size: 18px;
}



// MOUSE SCROLL //

@media screen and (max-width:1000px) {
  #mouse-scroll {
    display: none;
  }
}

@media screen and (max-height:900px) {
  #mouse-scroll {
    display: none;
  }
}


  #mouse-scroll {
    position: absolute;
    margin: auto;
    left: 50%;
    bottom: 50px;
    -webkit-transform: translateX(-50%);
    z-index: 9999;
  }
  #mouse-scroll span{
    display: block;
    width: 5px; 
    height: 5px;
    -ms-transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
         transform: rotate(45deg);
         transform: rotate(45deg);
    border-right: 2px solid #fff; 
    border-bottom: 2px solid #fff;
    margin: 0 0 3px 5px;
  }
  #mouse-scroll .mouse {
    height: 21px;
    width: 14px;
    border-radius: 10px;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    border: 2px solid #ffffff;
    top: 170px;
  }
  #mouse-scroll .down-arrow-1 {
    margin-top: 6px;
  }
  #mouse-scroll .down-arrow-1, #mouse-scroll .down-arrow-2, #mouse-scroll .down-arrow-3 {
    -webkit-animation: mouse-scroll 1s infinite; 
      -moz-animation: mouse-scroll 1s infinite;
  }
  #mouse-croll .down-arrow-1 {
     -webkit-animation-delay: .1s; 
     -moz-animation-delay: .1s;
     -webkit-animation-direction: alternate;
  }
  #mouse-scroll .down-arrow-2 {
    -webkit-animation-delay: .2s; 
    -moz-animation-delay: .2s;
    -webkit-animation-direction: alternate;
  }
  #mouse-scroll .down-arrow-3 {
     -webkit-animation-delay: .3s;
     -moz-animation-dekay: .3s;
     -webkit-animation-direction: alternate;
  }
  #mouse-scroll .mouse-in {
    height: 5px;
    width: 2px;
    display: block; 
    margin: 5px auto;
    background: #ffffff;
    position: relative;
  }
  #mouse-scroll .mouse-in {
   -webkit-animation: animated-mouse 1.2s ease infinite;
    moz-animation: mouse-animated 1.2s ease infinite;
  }
  
  @-webkit-keyframes animated-mouse {
    0% {
      opacity: 1;
      -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
      transform: translateY(0);
    }
    100% {
       opacity: 0;
      -webkit-transform: translateY(6px);
      -ms-transform: translateY(6px);
      transform: translateY(6px);
    }
  }
  @-webkit-keyframes mouse-scroll {
    0% {
      opacity: 1;
    }
    50% {
      opacity: .5;
    }
    100% {
      opacity: 1;
    } 
  }
  @keyframes mouse-scroll {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 0.5;
    }
    100% {
      opacity: 1;
    }
  }
  

  // FULLPAGE CSS //

#fp-nav ul li a span, .fp-slidesNav ul li a span {
  background: white !important;
  height: 10px !important;
  width: 10px;
  margin: -5px 0 0 -5px;
}

#fp-nav ul li a.active span, .fp-slidesNav ul li a.active span, #fp-nav ul li:hover a.active span, .fp-slidesNav ul li:hover a.active span {
  background: white !important;
  height: 20px !important;
  width: 20px;
  margin: -10px 0 0 -10px;
}

#fp-nav li {
  padding: 10px;
}

#fp-nav ul li .fp-tooltip.fp-right {
  right: 40px;
  font-size: 21px;
}

#fp-nav ul li .fp-tooltip {
  top: 4px;
}

@media screen and (max-width: 1300px) {
#fp-nav ul li .fp-tooltip {
  display: none;
}



}

@media screen and (max-width: 1100px) {
#fp-nav  {
  display: none !important;
}

}